<div class="not-the-footer">
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
                    <h1 class="title text-center-xs text-left-sm">
                        {{config.title}}
                        <span class="label label-block-xs label-default pull-right-sm">{{hostname}}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
