[application_settings]
title = "Earth That Was"

[project_dirs]
project_dirs[] = "/path/to/project/dir/"
project_dirs[] = "/path/to/extra/dir/"

[url_patterns]
url_patterns[] = "http://{:}.host/"
url_patterns[] = "http://host/{:}"
